<!DOCTYPE html>
<html>
<head>
  <title>Picas y Fijas 3.0</title>
</head>
<body>
<h1>Picas 3.0</h1>
<h2>Números aleatorios generados</h2>
<h2>3 picas y 0 fijas</h2>
<form>
  <input type="hidden" value="">
  <input type="text" name="numeroIngresado" id="numeroIngresado">
  <input id="botonJugar" type="submit" value="Jugar!">
</form>
</body>
</html>